<footer class="footer">
  <div class="wrapper">

    <div class="contacts">
      <a href="https://vk.com/medonomator">
        <i class="fa fa-vk" aria-hidden="true"></i>
      </a>
      <a href="tg://medonomator">
        <i class="fa fa-telegram" aria-hidden="true"></i>
      </a>
    </div>

    <div class="subscribe">
      <p>Подписаться на новости</p>
      <input type="text" placeholder="Ваш email">
      <input class="subscribe-button" type="button" value="Подписаться">
    </div>

    <div class="footer-end-block">
      <a href="/development-plan">План развития проекта</a>
      <a class="support-project" href="/contacts">Поддержать проект</a>
    </div>

  </div>
</footer>

<script src="{{path}}js/scripts.min.js"></script>