<footer class="footer">
  <div class="wrapper">

    <a href="https://vk.com/medonomator">
      <i class="fa fa-vk" aria-hidden="true"></i>
    </a>
    <a href="https://t.me/medonomator">
      <i class="fa fa-telegram" aria-hidden="true"></i>
    </a>

    <a class="support-project" href="/contacts">Поддержать проект</a>
  </div>
</footer>

<script src="{{path}}libs/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<script src="{{path}}js/common.js"></script>