<div class="header">
  <div class="logo">
    <a href="/">
      <img src="{{path}}img/logo/logo.jpg" alt="logo">
    </a>
  </div>
  <div class="sky">
    <img src="{{path}}img/sky.png" alt="sky">
  </div>
  <div class="soon">
    <img src="{{path}}img/soon.png" alt="soon">
  </div>
</div>

<!-- Hamburger -->
<div class="hamburger">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>

<div class="main-menu">
  <ul>
    <li><a href="/">Главная</a></li>
    <li><a href="/aphorisms/1/all">Афоризмы</a></li>
    <li><a href="/notes">Заметки</a></li>
    <li><a href="/techniques">Техники</a></li>
  </ul>
</div>