<div class="header">
  <div class="logo">
    <a href="/">
      <img src="{{path}}img/svg/whale-logo.svg" alt="logo">
    </a>
  </div>
  <!-- Hamburger -->
  <div class="hamburger">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>

  <div class="main-menu">
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/aphorisms">Афоризмы</a></li>
      <li><a href="/notes">Аффирмации</a></li>
      <li><a href="/techniques">Техники</a></li>
      <li><a href="/contacts">Контакты</a></li>
    </ul>
  </div>

  <div class="top-arrow">
    <img src="{{path}}/img/scrollToTop.png" alt="">
  </div>
</div>