<!DOCTYPE html>
<html lang=en>

<head>
  <meta charset=utf-8>
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <link rel=icon href=static/vue/favicon.ico> <title>admin-panel</title>
  <link href=static/vue/js/about.47c5e5b5.js rel=prefetch>
  <link href=static/vue/css/app.5b035565.css rel=preload as=style>
  <link href=static/vue/js/app.9a42b7bc.js rel=preload as=script>
  <link href=static/vue/js/chunk-vendors.b7a10693.js rel=preload as=script>
  <link href=static/vue/css/app.5b035565.css rel=stylesheet>
</head>

<body><noscript><strong>We're sorry but admin-panel doesn't work properly without JavaScript enabled. Please enable it
      to continue.</strong></noscript>
  <div id=app></div>
  <script src=static/vue/js/chunk-vendors.b7a10693.js> </script> <script src=static/vue/js/app.9a42b7bc.js> </script>
    </body> </html>