<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <title>Admin Panel</title>
  <meta name="description" content="Educational platform" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#000" />
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#000" />
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#000" />
  <base href="/" />

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{path}}/css/global.css" />
</head>

<body>
  <!-- particles.js container -->
  <div id="particles-js"></div>

  <div id="app"></div>

  <script src="{{path}}bundle/bundle.js"></script>
</body>

</html>