<!DOCTYPE html>
<html lang="ru">

<head>
  {{>head}}
</head>

<body>
  <div class="wrapper">
    {{>header}}

    <div class="about">
      <p>Aфоризм - это житейская мудрость, краткая, емкая, законченная мысль, которая при должном употреблении может
        произвести
        здвиг в сознании. При чтении, не всегда, но может произойти что-то типа микро-озарения в той или иной области и
        в этом
        заложен их фундаментальный смысл. Если начать систематически перепрошивать свое подсознание афоризмами, в
        короткий срок
        будет наблюдаться трансформация личности человека. Можно сказать постепенное оздаровление личности. Ведь все
        исходит из
        мыслей, что мыслим то чувствуем, что чувствуем то проживаем. Здесь я собрал наиболее сильные и актуальные
        афоризмы с
        точки зрения моего внутреннего фильтра. Все что требуется от вас это начать систематически читать афоризмы лучше
        всего
        это делать с помощью "генератора случайных афоризмов", либо по фильтру. Главное систематически читать хотя бы по
        5-10
        мин в день, будут происходит микро-озарения что повлечет более свежий взгляд на мир и вещи в нем. Приятных
        озарений...</p>
    </div>

    <section class="aphorisms-container">

      <div class="aphorisms-header">
        <h2>Фильтр</h2>
      </div>

      {{#each aphorisms}}
      <div class="aphorisms-item">
        <div class="aphorisms-item-top">
          <h2>{{this.author}}</h2>
        </div>

        <div class="aphorisms-item-body">
          <p>{{this.body}}</p>
        </div>
      </div>
      {{/each}}

      {{!-- <div class="aphorisms-all">
        <a href="#">Читать все афоризмы...</a>
      </div> --}}

    </section>

  </div>
  {{>footer}}
</body>

</html>