<!DOCTYPE html>
<html lang="ru">

<head>
  {{>head}}
</head>

<body>
  <div class="wrapper">
    {{>header}}

    <div class="about">
      <p>Контакты</p>
      <iframe
        src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%BA%D0%B0%20%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B0&targets-hint=&default-sum=&button-text=12&hint=&successURL=&quickpay=shop&account=410014038527087"
        width="423" height="222" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
    </div>

  </div>
  {{>footer}}
</body>

</html>