<!DOCTYPE html>
<html lang="ru">

<head>
  {{>head}}
</head>

<body>
  <div class="bg"></div>
  <div class="wrapper">
    {{>header}}

    <div class="half-container development-page">
      <h1>План развития проекта.</h1>
      <p>Проект стремиться давать светлый и чистый настрой на каждый день.
        На данном этапе основная задача это наращивание корпуса афоризмов, афирмаций и материалов только самых отборных
        и мощных. </p>
    </div>

  </div>
  {{>footer}}
</body>

</html>