<!DOCTYPE html>
<html lang="ru">

<head>
  {{>head}}
</head>

<body>
  <div class="wrapper">
    {{>header}}

    <div class="about">
      <p>Страница благодарности</p>
    </div>

  </div>
  {{>footer}}
</body>

</html>