<!DOCTYPE html>
<html lang="ru">

<head>
  {{>head}}
</head>

<body>
  <div class="wrapper">
    {{>header}}

    <div class="about">

      <p>Доброго дня! На этом ресурсе я делюсь опытом из областей
        связаных с самопознанием, развитием, поиском себя. Мне нравится позиционировать себя как молодого ученого
        исследующего
        разные уголки нашей не объятной вселенной и делиться всем этим.</p>
    </div>

    <h2>Личностная трансформация</h2>
    <div class="text">
      <p>Если ты жаждишь глубинной
        внутренней трансформации этот ресурс поможет тебе. Безусловно ключевым критерием является готовность и
        открытость новому...
      </p>

      <p>Итак счастье, единственно истинный и главный компонент жизни. Если нет счастья или его мало, жизнь не имеет
        смысла, она
        скучна и сера. Счастье то что наполняет жизнь, делает ее яркой и красочной. Каждый человечек живущий на земле
        желает
        быть как можно более счастливым, радоваться и наслаждаться жизнью. Счастье это весьма эфемерное понятие, но
        однозначно
        это роднится со словами, радость, любовь. Различные внешние жизненные ситуации могут вызывать эту внутреннюю
        радость...
        Но вот не задача, любое внешнее проявление крайне не стабильно, время течет, события меняются с бешеной
        скорость, сейчас
        что-то появилось радость есть оно ушло и радость ушла. Получается радость находится в зависимости от внешнего
        фактора,
        но разве это правильно ? Есть еще более удручающий факт, любое внешнее проявление кроме любимова дела (хобби)
        имеет
        природу весьма быстро приедаться...
      </p>
    </div>

    {{!-- <section class="aphorisms-container">

      <div class="aphorisms-header">
        <h2>Случайные афоризмы</h2>
      </div>

      {{#each aphorisms}}
      <div class="aphorisms-item">
        <div class="aphorisms-item-top">
          <h2>{{this.author}}</h2>
        </div>

        <div class="aphorisms-item-body">
          <p>{{this.body}}</p>
        </div>
      </div>
      {{/each}}

      <div class="aphorisms-all">
        <a href="#">Читать все афоризмы...</a>
      </div>

    </section>

    <section class="notes-container">

      <div class="notes-header">
        <h2>Случайные заметки</h2>
      </div>

      {{#each aphorisms}}
      <div class="notes-item">
        <div class="notes-item-top">
          <h2>{{this.author}}</h2>
        </div>

        <div class="notes-item-body">
          <p>{{this.body}}</p>
        </div>
      </div>
      {{/each}}

      <div class="notes-all">
        <a href="#">Читать все заметки...</a>
      </div>

    </section> --}}

  </div>
  {{>footer}}
</body>

</html>