<!DOCTYPE html>
<html lang="ru">

<head>
  {{>head}}
</head>

<body>
  <div class="bg"></div>
  <div class="wrapper">
    {{>header}}
    <h1>Личностная трансформация</h1>
    <div class="header-text">
      <p>Если ты жаждешь глубинной трансформации, этот ресурс поможет тебе. Раз ты здесь, значит, готов к переменам и
        открыт для нового.
        Рост счастья и состояние наполненности от простого бытия меняет даже мрачную реальность. Сама возможность Быть
        уже является большим чудом и счастьем. Постигшему эту истину раскрывается мир неограниченных возможностей.
        Хоть на секунду притормози и пристально посмотри на того, кто задыхается в серой реальности, кто не находит себя
        в этом мире. Может, это вовсе не ты? Давай вместе попробуем заглянуть внутрь измученной оболочки, стать ближе к
        лучшей версии тебя.
        В каждом разделе мы собираем то, что способно изменить любого, кто к этому стремится. Дать ответ на нужный
        вопрос, заставить задуматься или просто вдохновить на новый день.
        Читай, размышляй и используй то, что тебе подойдет. Удачи!
      </p>
    </div>

    {{!-- <h2>Афоризмы</h2>
    <section class="aphorisms-container">
      {{#each aphorisms}}
      <div class="aphorisms-item">
        <div class="aphorisms-item-top">
          <h2>{{this.author}}</h2>
        </div>

        <div class="aphorisms-item-body">
          <p>{{this.body}}</p>
        </div>
        <div class="aphorisms-tags">
          {{#each this.tags}}
          <span>{{this.name}}</span>
          {{/each}}
        </div>
      </div>
      {{/each}}

    </section>
    <h2>Аффирмации</h2> --}}
  </div>
  {{>footer}}
</body>

</html>