<!DOCTYPE html>
<html lang="ru">

<head>
  {{>head}}
</head>

<body>
  <div class="wrapper">
    {{>header}}

    <div class="about">
      <p>Доброго дня! Меня зовут Дмитрий Зорин. На этом ресурсе я делюсь накопленным опытом, который так или иначе
        связан с самопознанием, развитием, поиском себя. Мне нравится позиционировать себя как молодого ученого
        исследующего
        разные уголки нашей не объятной вселенной и делиться с вами всем этим добром.</p>
    </div>

    <section class="aphorisms-container">

      <div class="aphorisms-item">
        <div class="aphorisms-item-top">
          <h2>aphorisms-item</h2>
        </div>

        <div class="aphorisms-item-body">
          <p>Только труд может сделать человека счастливым, приводя его душу в ясность, гармонию и довольство самим
            собою.</p>
        </div>
      </div>

      <div class="aphorisms-item">
        <div class="aphorisms-item-top">
          <h2>aphorisms-item</h2>
        </div>

        <div class="aphorisms-item-body">
          <p>Только труд может сделать человека счастливым, приводя его душу в ясность, гармонию и довольство самим
            собою.</p>
        </div>
      </div>
      <div class="aphorisms-item">
        <div class="aphorisms-item-top">
          <h2>aphorisms-item</h2>
        </div>

        <div class="aphorisms-item-body">
          <p>Только труд может сделать человека счастливым, приводя его душу в ясность, гармонию и довольство самим
            собою.</p>
        </div>
      </div>
      <div class="aphorisms-item">
        <div class="aphorisms-item-top">
          <h2>aphorisms-item</h2>
        </div>

        <div class="aphorisms-item-body">
          <p>Только труд может сделать человека счастливым, приводя его душу в ясность, гармонию и довольство самим
            собою.</p>
        </div>
      </div>
      <div class="aphorisms-item">
        <div class="aphorisms-item-top">
          <h2>aphorisms-item</h2>
        </div>

        <div class="aphorisms-item-body">
          <p>Только труд может сделать человека счастливым, приводя его душу в ясность, гармонию и довольство самим
            собою.</p>
        </div>
      </div>
      <div class="aphorisms-item">
        <div class="aphorisms-item-top">
          <h2>aphorisms-item</h2>
        </div>

        <div class="aphorisms-item-body">
          <p>Только труд может сделать человека счастливым, приводя его душу в ясность, гармонию и довольство самим
            собою.</p>
        </div>
      </div>
      <div class="aphorisms-item">
        <div class="aphorisms-item-top">
          <h2>aphorisms-item</h2>
        </div>

        <div class="aphorisms-item-body">
          <p>Только труд может сделать человека счастливым, приводя его душу в ясность, гармонию и довольство самим
            собою.</p>
        </div>
      </div>
      <div class="aphorisms-item">
        <div class="aphorisms-item-top">
          <h2>aphorisms-item</h2>
        </div>

        <div class="aphorisms-item-body">
          <p>Только труд может сделать человека счастливым, приводя его душу в ясность, гармонию и довольство самим
            собою.</p>
        </div>
      </div>
    </section>

  </div>
  {{>footer}}
</body>

</html>