@import "fonts"
@import "libs"
@import "vars"

img
  width: 100%
li
  list-style-type: none
p
  font-size: 18px
hr
  margin-bottom: 30px
  color: #999

h1
  color: white

select, input
  outline: none

h2
  font-size: 20px
  text-transform: uppercase
  text-align: center
a
  text-decoration: none
  color: #333

h1
  font-size: 36px
  padding-top: 80px

body
  background: #E5E5E5
  font-family: 'Museosanscyrl' , sans-serif

select#filter-by-categories,
select#filter-by-topic,
select#filter-by-author
  -webkit-appearance: button
  border-radius: 2px
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
  -webkit-padding-end: 20px
  -webkit-padding-start: 2px
  background-image: url('../img/customSelect.png'), -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5)
  background: #211974
  background-position: 97% center
  background-repeat: no-repeat
  border: none
  border-bottom: 1px solid #7a75ac

  color: white
  font-size: inherit
  margin: 10px
  overflow: hidden
  padding: 5px 10px
  text-overflow: ellipsis
  white-space: nowrap
  width: 250px
  margin-right: 40px

.bg
  background: url('../img/whale.png') no-repeat
  background-size: cover
  position: absolute
  background-position: center
  width: 100%
  height: 650px

.hover-color
  color: silver
  transition: all .3s ease

.wrapper
  margin-right: auto
  margin-left: auto
  width: 1170px
  position: relative
  min-height: 100vh

/*** header  ***/
.header
  display: flex
  justify-content: space-between
  padding-top: 25px

  .logo
    width: 48px

  .main-menu
    ul
      display: flex
    li
      margin-right: 40px
      margin-top: 3px
      text-transform: uppercase
      font-family: 'Museosanscyrl' , sans-serif
      font-weight: 600
      font-size: 16px
    a
      color: #FCFCFD
      &:hover
        @extend .hover-color

/*** about  ***/
.about
  padding: 35px 0
  padding-bottom: 70px
  text-align: center
  text-shadow: 0 1px 1px $accent

.header-text
  color: white
  padding-top: 20px
  font-size: 16px
  line-height: 26px
  margin-right: 400px

.regular-page
  display: flex
  margin-top: 150px

/*** aphorisms  ***/
.aphorisms
  &-item
    background: #FFFFFF
    box-shadow: 0px 2px 14px rgba(135, 135, 135, 0.25)
    border-radius: 2px
    margin-bottom: 24px
    padding: 16px 20px

  &-item-body
    p
      font-weight: 300
      font-size: 16px
      line-height: 26px
      padding-top: 20px

  &-tags
    span
      background: #F0F4FF
      border-radius: 2px
      font-weight: 600
      font-size: 10px
      line-height: 16px
      text-transform: uppercase
      color: #3753E7
      margin-right: 12px
      padding: 7px 10px

  &-authors
    padding-top: 20px
    span

      font-weight: 600
      font-size: 18px
      line-height: 26px
      color: #2C3047
  &-item-bottom
    display: flex
    justify-content: space-between
    align-items: center

  &-icons
    font-size: 26px
    padding: 5px
    color: #3753E7
    margin-top: 25px
    margin-bottom: -5px
    i
      padding-left: 15px
      cursor: pointer
      transition: all .3s ease
      &:hover
        color: lighten(#3753E7, 10%)

.filter-block
  background: #211974
  margin-left: 20px
  border-radius: 2px
  color: white
  width: 304px
  height: 345px
  padding: 20px
  font-size: 10px
  line-height: 16px
  text-transform: uppercase

.shuffle-button

/** Loader ***/
.lds-ring
  display: inline-block
  position: absolute
  width: 64px
  height: 64px
  z-index: 100
  right: 0
  left: 0
  margin: auto
  top: 20px
  display: none

  & div
    box-sizing: border-box
    display: block
    position: absolute
    width: 51px
    height: 51px
    margin: 6px
    border: 6px solid #636363
    border-radius: 50%
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
    border-color: #636363 transparent transparent transparent

  & div:nth-child(1)
    animation-delay: -0.45s

  & div:nth-child(2)
    animation-delay: -0.3s

  & div:nth-child(3)
    animation-delay: -0.15s

@keyframes lds-ring
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)

.footer
  background: #140d4e
  padding: 100px 0
  margin-top: 100px

  .wrapper
    display: flex
    justify-content: space-between
    min-height: auto

    .support-project
      background: #fafa3b
      padding: 8px 20px
      border-radius: 4px
      color: #333
      font-family: Lora,sans-serif
      font-weight: 600
      transition: all .3s ease
      &:hover
        background: #cccc57

    a
      color: white
      margin: 0 10px

    i
      font-size: 30px
      transition: all .3s ease
      &:hover
        color: #fafa3b
        cursor: pointer

// contacts
.contacts
  display: flex
  flex-direction: column
  padding-top: 20px
  padding-left: 20px
  padding-bottom: 20px
  a
    color: #194470
    font-size: 20px
    transition: all .3s ease
    &:hover
      color: lighten(#194470, 10%)

@import "media" // Всегда в конце