@import "fonts"
@import "libs"
@import "vars"

html
	overflow-x: hidden

body
	font-size: 20px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-weight: normal
	// font-family: ProximaNova, serif
	text-decoration: none
	overflow-x: hidden
	color: #000
	background: red

button, input
	outline: none

li
	list-style-type: none

a
	text-decoration: none
	color: black

.h1

.h2


.hidden
	visibility: hidden

.wrapper 
	margin-right: auto
	margin-left: auto
	width: 1170px
	position: relative
	display: flex
	justify-content: space-between
	align-items: center
	flex-wrap: wrap


/*** начало кода! ***/

@import "media" // Всегда в конце
